/* Login.css */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.login-container {
  background-color: #ffffff; /* White background for the login form */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: 100%;
  max-width: 400px; /* Limit the width of the login form */
  text-align: center;
}

.login-container h1 {
  margin-bottom: 1rem;
  color: #333;
}

.login-container input {
  width: 70%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

.login-container input:focus {
  border-color: #007bff; /* Highlight input when focused */
}

.login-container button {
  width: 60%;
  padding: 0.75rem;
  background-color: #FFE800; /* Blue button */
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #005bb5; /* Darker blue on hover */
}

.error {
  color: red;
  margin-bottom: 1rem;
}